@model WEB.Models.NHANVIEN

@{
    ViewBag.Title = "UpdateCustomer";
    Layout = "~/Views/Admin_Layout.cshtml";
}

<style>
    .control-label {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }

    .form-control {
        font-size: 14px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-bottom:10px">
            <h1 class="page-header">Quản Lý Nhân Viên</h1>
        </div>
    </div>
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div class="form-control" style="background-color: #f9f9f9;">

                <h1 class="mt-3" style="color:blue; text-align: center; font-weight:bold">CẬP NHẬT NHÂN VIÊN</h1>

                @Html.HiddenFor(model => model.MaNhanVien)

                <div class="form-group">
                    <label for="HoTen" class="control-label">Họ và Tên</label>
                    @Html.TextBoxFor(model => model.HoTen, new { @class = "form-control", placeholder = "Nhập họ tên" })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Email" class="control-label">Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", placeholder = "Nhập email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="SoDienThoai" class="control-label">Số điện thoại</label>
                    @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "form-control", placeholder = "Nhập số điện thoại" })
                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="GioiTinh" class="control-label">Giới tính</label>
                    @Html.DropDownListFor(model => model.GioiTinh,
                                         new SelectList(new[] { new { Text = "Chọn giới tính", Value = "" },
                                                                new { Text = "Nam", Value = "Nam" },
                                                                new { Text = "Nữ", Value = "Nữ" },
                                          }, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="DiaChi" class="control-label">Địa chỉ</label>
                    @Html.TextAreaFor(model => model.DiaChi, new { @class = "form-control", placeholder = "Nhập địa chỉ", rows = 4 })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="NgayVL" class="control-label">Ngày vào làm</label>
                    @Html.TextBoxFor(m => m.NgayVL, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(m => m.NgayVL, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="LuongCoBan" class="control-label">Lương cơ bản</label>
                    @Html.TextBoxFor(m => m.LuongCoBan, new { @class = "form-control", placeholder = "Nhập lương cơ bản" })
                    @Html.ValidationMessageFor(m => m.LuongCoBan, "", new { @class = "text-danger" })
                </div>

                <div style="display: flex; justify-content: center; margin-top: 10px">
                    <p class="form-group mx-auto">
                        <input type="submit" value="Update" class="btn btn-primary btn-lg" style="font-size: 18px;" />
                    </p>
                </div>
            </div>
        }

        <div style="text-align:right">
            <button class="btn btn-primary btn-lg" style="margin-bottom: 15px; margin-top: 15px; font-size: 18px;" onclick="window.location.href='@Url.Action("ListEmployee", "Admin")'">
                Back to Employee List
            </button>
        </div>

        <div class="container">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="font-size: 18px;">
                    @ViewBag.SuccessMessage
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 30px">&times;</span>
                    </button>
                </div>
            }
            else if (ViewBag.FailMessage != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 18px;">
                    @ViewBag.FailMessage
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 30px">&times;</span>
                    </button>
                </div>
            }
        </div>
    </div>
    </div>